<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/reset.css">
    <link rel="stylesheet" href="static/css/style-dark.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"></link>
    <title>todo|{{ name }}</title>
</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="static/js/script.js"></script>

<body>
    <div class='container'>
        <div class='box'>
            <h1>[todo-{{ name }}]</h1>
            <i class="material-icons" style="font-size: 2em;">build_circle</i>
        </div>
        <div class='box'>
            <form action="/{{ name }}" METHOD="POST">
                <input class='commandline' placeholder="command" type="text" name="command" style="width: 200px" autocomplete="off" autofocus>
            </form>
        </div>
        {% for day in layout %}
        <div class='box'>
            <h2 id="{{ day[0] }}" ondragover='dragOver(event)' ondrop='dragEnd(event)'
            {% if day|length == 1 %}
            class='day-none'>
            {% else %}
            >
            {% endif %}
            {{ day[0] }}</h2>
        </div>
        
        {% for i in range(1, day|length) %}
        <div class='box'>
            <div id='{{ day[i][0] }}' class='item' draggable='true' ondragstart='dragStart(event)'
            {% if day[i][3] < day[i][2] %}
            style="background-image: linear-gradient(to right, #f37676, #cc4a4a)">
            {% else %}
            >
            {% endif %}
                <form action="/{{ name }}" METHOD="POST">
                    {% if day[i][4] == True %}
                    <p style="text-decoration: line-through">{{ day[i][0] }}</p>
                    {% else %}
                    <button type="submit" name="do" value="{{ day[i][0] }}"><p>{{ day[i][0] }}</p></button>
                    {% endif %}
                    <a>| {{ day[i][3]|weekday }}</a>
                    <button type="submit" name="remove" value="{{ day[i][0] }}" style="height: 20px; padding-left: 3px;"><i class="material-icons" style="font-size: 1.4em;">close</i></button>
                </form>
            </div>
        </div>
        {% endfor %}
        {% endfor %}
    </div>
</body>

</html>