<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/css/reset.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
    <div class='container'>
        <div class='box'>
            <h1>[todo-{{ name }}]</h1>
            <i class="material-icons" style="font-size: 2em;">build_circle</i>
        </div>
        <div class='box'>
            <form action="/{{ name }}" METHOD="POST">
                <input class='commandline' placeholder="command" type="text" name="command" style="width: 200px" autocomplete="off" autofocus>
        </div>
        {% for day in layout %}
        <div class='box'>
            <h2>{{ day[0] }}</h2>
        </div>
        {% if day|length == 1 %}
        <div class='box'>
            <p style="color: rgb(73, 65, 65); font-size: 20px;">none</p>
        </div>
        {% endif %}
        {% for i in range(1, day|length) %}
        <div class='box'>
            {% if day[i][3] < today|string %}
            <div class='item' draggable='true' style="background-image: linear-gradient(to right, #f37676, #cc4a4a)">
            {% else %}
            <div class='item' draggable='true'>
            {% endif %}
                {% if day[i][4] == True %}
                <p style="text-decoration: line-through">{{ day[i][0] }}</p>
                {% else %}
                <p>{{ day[i][0] }}</p>
                {% endif %}
                <i class="material-icons" style="font-size: 1.2em; padding-left: 3px;">reorder</i>
                <i class="material-icons" style="font-size: 1.2em; padding-left: 3px;">close</i>
            </div>
        </div>
        {% endfor %}
        {% endfor %}
    </div>
</body>

</html>