<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/css/reset.css">
    <link rel="stylesheet" href="static/css/style-splash.css">
</head>

<body>
    <div>
        <h1>this is [todo.py]</h1>
        <p>it is a lightweight and customizable task organizer that runs on all platforms. it was created with the flask python library and vanilla javascript.</p>
        <p>to begin, choose a unused page (ex. www.todo.py/todo) and create some items. use the same URL to access them again.</p>
    </div>
</body>

</html>